@mixin coverimage($location) {
    background-image: linear-gradient(
        to top,
        rgba(0, 45, 75, 0),
        rgba(0, 0, 0, 0.6)
      ),
      url($location);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}